:root {
  --Pink: hsl(322, 100%, 66%);
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --GrayishBlue: hsl(208, 11%, 55%);
  --Shadow: 0 1px 5px rgba(104, 104, 0.8);


}

 html {
   font-family: 'Open Sans', sans-serif;
 }
.top-wrap {
  display: grid;
  background: url(images/bg-hero-desktop.svg);
  background-color: var(--VeryPaleCyan);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
  "logo btn"
  "words chatimg";
}

.logo {
  grid-area: logo;
  padding: 60px 0 20px 60px;
}

 #free-btn {
  grid-area: btn;
  justify-content: flex-end;
  display: flex;
  padding: 65px 20px 50px 0;
  font-weight: bold;
  text-decoration: none;
  border-radius: 40px;

}

.words {
  grid-area: words;
}

.mockup {
  background-image: url(images/illustration-mockups.svg);
  background-size: 100%;
  background-repeat: no-repeat;

}