:root {
  --Pink: hsl(322, 100%, 66%);
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --GrayishBlue: hsl(208, 11%, 55%);
  --Shadow: 0 1px 5px rgba(104, 104, 0.8);
  --MarginBoxes: 50px 40px;


}
button {
  background: var(--Pink);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  border: none;
  border-radius: 40px;
  height: 50px;
  width: 200px;

}
 body {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
   font-size: 18px;
 }

 /* Top grid */
.top-wrap {
  display: grid;
  background: url(images/bg-hero-desktop.svg);
  background-color: var(--VeryPaleCyan);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 400px;
  grid-template-areas:
  "nav nav"
  "words chatimg";
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;/*Makes the items go to bottom, for it not being a padding*/
  margin: 20px 100px;


}

.words{
  grid-area: words;
  padding: 70px 100px;
}

.mockup {
  background-image: url(images/illustration-mockups.svg);
  background-size: 70%;
  background-repeat: no-repeat;
}

/* Mid section *********************/
.middle-wrap {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  display: grid;
  padding: 50px;
  margin-top: 110px;
  grid-gap: 60px;

}
/* Top box */
.top-box {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  display: grid;
  place-content: center;
  box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
/* Contents of top box */
.wordsone{
  padding-left: 20px;
  align-content: center;
  padding: var(--MarginBoxes);
}

.imgone {
  background: url(images/illustration-grow-together.svg);
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

/*Middle box  */
.middle-box{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  display: grid;
  place-content: center;
  box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
/* Content of middle box */
.imgtwo{
 background: url(images/illustration-flowing-conversation.svg);
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
.wordstwo{
  padding-left: 20px;
  align-content: center;
  padding: var(--MarginBoxes);
}

/* Bottom box */
.bottom-box{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  display: grid;
  place-content: center;
  box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Bttom box content */
.wordsthree{
  padding-left: 20px;
  align-content: center;
  padding: var(--MarginBoxes);
}

.imgthree{
  background: url(images/illustration-your-users.svg);
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

/* Footer */
.bottom-wrap{
  display: grid;
  grid-template-areas:
    "popup"
    "bottom";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

}

footer {
  grid-area: bottom;
  margin-top: -40px;
}

.banner{
  grid-area: popup;
  text-align: center;
  justify-self: center;
  border: white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(121, 121, 122, 0.83);
  transform: translateY(80%);
  width: 60%;
  font-size: 20px;
  height: 250px;
  background-color: white;
}

.banner h2 {
  padding-top: 50px;
}

.bottomfootercontent {
  background: hsl(192, 100%, 9%);
  color: white;
  height: 100%;
  padding-top: 150px;
  padding-left: 100px;
  justify-content: space-between;
  display: flex;
}

.contactlist > i{
  padding-right: 5px;
}
.botlogo img {
  width: 100%;
  height: 100%;
}

.botlogowrap {
  margin-bottom: 20px;
}

.contactlist > div {
  display: flex;
  width: 100%;
  align-items: baseline;
  font-size: 12px;
}

.firstlinks{
  padding-top: 20px;
  display: inline-block;
}

.firstlinks a{
  align-self: flex-start;
  /* padding-top: 30px; */
  text-decoration: none;
  color: white;

}

.firstlinks ul {
  list-style-type: none;
  font-size: 14px;
  padding-top: 50px;
}

.firstlinks ul > li {
  padding: 10px;
}
.secondlinks ul{
  list-style-type: none;
  font-size: 14px;
  padding-top: 65px;
}
.secondlinks a {
  align-self: flex-start;
  /* padding-top: 30px; */
  text-decoration: none;
  color: white;

}

.secondlinks ul > li {
  padding: 10px;
}

.social {
  align-self: flex-start;
  padding-top: 80px;
}

.social > a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius:50%;
  padding: 5px;
}

.copyrights {
  margin-top: 90px;
  color: white;
  font-size: 8px;
}

.copyrights :visited {
  color:inherit;
}